extends layout

block content
	- var msgs = profileUser.messages;
	div.container-fluid
		h3 #{profileUser.name}
			if showFollowBtn
				if isFollowing
					button.btn.btn-success.hidden#follow(data-username=profileUser.username) Follow
					button.btn.btn-danger#unfollow(data-username=profileUser.username) Unfollow
				else
					button.btn.btn-success#follow(data-username=profileUser.username) Follow
					button.btn.btn-danger.hidden#unfollow(data-username=profileUser.username) Unfollow
		
		if isFollowing
			each msg in msgs.length ? msgs : [''] 
				div.panel.panel-default
					div.panel-body= msg.content
		else
			h4
				span.label.label-info Follow this user to view their messages
		
	script(type='text/javascript', src='/compiled-js/profilePage.js')